<form>
  <div style="padding: 10px;">
    <label for="name" style="padding-right: 22px; font-size: large; color: white;">Username: </label>
    <input class="input-name" type="text">
  </div>
  <div style="padding: 10px;">
    <label style="font-size: large; color: white;">Recipe Name: </label>
    <input class="input-recipe-name" type="text">
    <label style="font-size: large; color: white;">Recipe Link: </label>
    <input class="input-recipe" type="text">
  </div>
  <div class="button-submit" style="padding: 10px;">
    <input type="submit" value="Add a Recipe">
  </div>
  <div class="button-retrieve" style="padding: 10px;">
    <button type="button">Get All Recipes for Username</button>
  </div>
</form>