<form>
  <div>
    <label for="name">Username: </label>
    <input class="input-name" type="text">
  </div>
  <div>
    <label>Recipe Name: </label>
    <input class="input-recipe-name" type="text">
    <label>Recipe Link: </label>
    <input class="input-recipe" type="text">
  </div>
  <div class="button-submit">
    <input type="submit" value="Add a Recipe">
  </div>
  <div class="button-retrieve">
    <button type="button">Get All Recipes for Username</button>
  </div>
</form>