<%- include('../partials/_head') %>

<body>
    <%- include('../partials/_background') %>
    <%- include('../partials/_title') %>
    <%- include('../partials/_form') %>
    <script src="app.js"></script>
    <div style="padding: 10px; font-size: large; color: white;">Thanks for adding a recipe!</div>
</body>