<%- include('../partials/_head') %>

<body>
    <%- include('../partials/_title') %>
    <%- include('../partials/_form') %>
    <script src="app.js"></script>
    <div>Thanks for adding a recipe!</div>
</body>