<%- include('../partials/_head') %>

<body>
  <%- include('../partials/_title') %>

  <main>
  <!-- <form action="" method="get" class="form-example"> -->
    <%- include('../partials/_form') %>
    <script src="app.js"></script>
  </main>
</body>

