<%- include('../partials/_head') %>

<body >
  <%- include('../partials/_background') %>

  <%- include('../partials/_title') %>

  <main>
    <%- include('../partials/_form') %>
    <script src="app.js"></script>
  </main>
</body>

