<!-- results of recipes user searched for -->
<!-- button to go back to index page to add more recipes -->

<%- include('../partials/_head') %>

<body>
    <%- include('../partials/_title') %>
    <!-- Display message: Here are recipes for ___: -->
</body>